# **Amazon Sales Data warehouse**

In [97]:
import datetime as dt
import pandas as pd
import random
# Function to generate sample data for each table
def generate_sample_data(num_rows):
    data = {
        'TransactionID': range(1, num_rows + 1),
        'CustomerID': range(1001, 1001 + num_rows),
        'ProductID' : range(3001, 3001 + num_rows),
        'ProductName': ['Shirt_' + str(i) for i in range(1, num_rows + 1)],
        'Category': ['Electronics', 'Clothing', 'Books', 'Home & Kitchen', 'Sports'] * (num_rows // 5),
        'Price': [random.randint(10, 500) for _ in range(num_rows)],
        'Quantity': [random.randint(1, 5) for _ in range(num_rows)],
        'CustomerName': ['Seher_' + str(i) for i in range(1001, 1001 + num_rows)],
        'CustomerAge': [random.randint(18, 80) for _ in range(num_rows)],
        'CustomerGender': ['Male', 'Female'] * (num_rows // 2),
        'CustomerAddress': ['Address_' + str(i) for i in range(1001, 1001 + num_rows)],
        'CustomerEmail': ['customer' + str(i) + '@example.com' for i in range(1001, 1001 + num_rows)],
        'PurchaseDate': pd.date_range(start='2021-01-01', periods=num_rows),
        'PaymentMethod': ['Credit Card', 'Debit Card', 'Net Banking', 'Cash on Delivery'] * (num_rows // 4),
        'Rating': [random.randint(1, 5) for _ in range(num_rows)],
        'SalesPersonID': [random.randint(1, 10) for _ in range(num_rows)],
        'RegionID': [random.randint(1, 5) for _ in range(num_rows)],
        'PaymentMethodID': [random.randint(1, 4) for _ in range(num_rows)],
        'RatingID': [random.randint(1, 5) for _ in range(num_rows)],
        'ReturnDate': [dt.datetime.now() + dt.timedelta(days=random.randint(1, 30)) for _ in range(num_rows)],
        'DiscountAmount': [random.randint(1, 50) for _ in range(num_rows)],
        'SalesRegion': ['South Asia', 'Middle East', 'Europe', 'Central Asia'] * (num_rows // 4),
        'PromotionID': [random.randint(1, 10) for _ in range(num_rows)],
        'ShippingMethod': ['Standard Shipping', 'Express Shipping', 'Next Day Delivery', 'Store Pickup'] * (num_rows // 4),
        'ShippingCost': [5.99, 9.99, 12.99, 0] * (num_rows // 4),
        'SalesPersonName': ['Ahmed_' + str(i) for i in range(1, num_rows + 1)],
    }
    return pd.DataFrame(data)

# Number of rows for each table
num_rows_per_table = 10000

# Create an empty list to store data frames for each table
tables_data = []

# Generate data frames for each table and append to the list
for i in range(1, 11):
    table_data = generate_sample_data(num_rows_per_table)
    tables_data.append(table_data)

# Concatenate data frames for all tables
df = pd.concat(tables_data, ignore_index=True)

# Save concatenated data frame to a single CSV file
df.to_csv('amazonsales.csv', index=False)

print("CSV file created successfully!")

CSV file created successfully!

In [101]:
df.head()

,TransactionID,CustomerID,ProductID,ProductName,Category,Price,Quantity,CustomerName,CustomerAge,CustomerGender,...,RegionID,PaymentMethodID,RatingID,ReturnDate,DiscountAmount,SalesRegion,PromotionID,ShippingMethod,ShippingCost,SalesPersonName
0,1,1001,3001,Shirt_1,Electronics,267,5,Seher_1001,48,Male,...,1,1,5,2024-05-25 10:17:20.964835,44,South Asia,9,Standard Shipping,5.99,Ahmed_1
1,2,1002,3002,Shirt_2,Clothing,445,4,Seher_1002,51,Female,...,5,4,4,2024-06-02 10:17:20.964878,3,Middle East,9,Express Shipping,9.99,Ahmed_2
2,3,1003,3003,Shirt_3,Books,38,5,Seher_1003,33,Male,...,1,1,3,2024-06-06 10:17:20.964882,15,Europe,6,Next Day Delivery,12.99,Ahmed_3
3,4,1004,3004,Shirt_4,Home & Kitchen,440,3,Seher_1004,20,Female,...,3,3,5,2024-05-16 10:17:20.964884,19,Central Asia,6,Store Pickup,0.00,Ahmed_4
4,5,1005,3005,Shirt_5,Sports,147,4,Seher_1005,65,Male,...,5,1,5,2024-05-25 10:17:20.964886,25,South Asia,6,Standard Shipping,5.99,Ahmed_5

Warning: Total number of columns (26) exceeds max_columns (20) limiting to first (20) columns.

In [96]:
df.columns

Index(['TransactionID', 'CustomerID', 'ProductID', 'ProductName', 'Category',
       'Price', 'Quantity', 'CustomerName', 'CustomerAge', 'CustomerGender',
       'CustomerAddress', 'CustomerEmail', 'PurchaseDate', 'PaymentMethod',
       'Rating', 'SalesPersonID', 'RegionID', 'PaymentMethodID', 'RatingID',
       'ReturnDate', 'DiscountAmount', 'SalesRegion', 'PromotionID',
       'ShippingMethod', 'ShippingCost', 'SalesPersonName'],
      dtype='object')

In [88]:
import sqlite3

# Connect to SQLite database (create if not exists)
conn = sqlite3.connect('amazon_sales_dw.db')
c = conn.cursor()

# Create Customers Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        CustomerID INTEGER PRIMARY KEY,
        CustomerName TEXT,
        CustomerAge INTEGER,
        CustomerGender TEXT,
        CustomerAddress TEXT,
        CustomerEmail TEXT
    )
''')

# Create Products Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        ProductID INTEGER PRIMARY KEY,
        ProductName TEXT,
        Category TEXT,
        Price INTEGER
    )
''')

# Create Salespersons Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Salespersons (
        SalesPersonID INTEGER PRIMARY KEY,
        SalesPersonName TEXT
    )
''')

# Create Regions Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Regions (
        RegionID INTEGER PRIMARY KEY,
        SalesRegion TEXT
    )
''')

# Create Payment Methods Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS PaymentMethods (
        PaymentMethodID INTEGER PRIMARY KEY,
        PaymentMethod TEXT
    )
''')

# Create Rating Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Ratings (
        RatingID INTEGER PRIMARY KEY,
        Rating INTEGER
    )
''')

# Create Transactions Dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Transactions (
        TransactionID INTEGER PRIMARY KEY,
        CustomerID INTEGER,
        ProductID INTEGER,
        SalesPersonID INTEGER,
        RegionID INTEGER,
        PurchaseDate TEXT,
        PaymentMethodID INTEGER,
        RatingID INTEGER,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID),
        FOREIGN KEY (SalesPersonID) REFERENCES Salespersons(SalesPersonID),
        FOREIGN KEY (RegionID) REFERENCES Regions(RegionID),
        FOREIGN KEY (PaymentMethodID) REFERENCES PaymentMethods(PaymentMethodID),
        FOREIGN KEY (RatingID) REFERENCES Ratings(RatingID)
    )
''')

# Create Inventory dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Inventory (
        ProductID INTEGER,
        Quantity INTEGER,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
    )
''')

# Create Returns dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Returns (
        TransactionID INTEGER,
        ReturnDate TEXT,
        FOREIGN KEY (TransactionID) REFERENCES Transactions(TransactionID)
    )
''')

# Create Discounts dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Discounts (
        TransactionID INTEGER,
        DiscountAmount INTEGER,
        FOREIGN KEY (TransactionID) REFERENCES Transactions(TransactionID)
    )
''')

# Create Promotions dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Promotions (
        TransactionID INTEGER,
        PromotionID INTEGER,
        FOREIGN KEY (TransactionID) REFERENCES Transactions(TransactionID)
    )
''')

# Create Shipping dimension Table
c.execute('''
    CREATE TABLE IF NOT EXISTS Shipping (
        TransactionID INTEGER,
        ShippingMethod TEXT,
        ShippingCost INTEGER,
        FOREIGN KEY (TransactionID) REFERENCES Transactions(TransactionID)
    )
''')

c.execute('''
    CREATE TABLE IF NOT EXISTS facttable (
          TransactionID INTEGER PRIMARY KEY,
          CustomerID INTEGER,
          ProductID INTEGER,
          SalesPersonID INTEGER,
          RegionID INTEGER,
          PaymentMethodID INTEGER,
          PaymentMethod TEXT,
          Quantity INTEGER,
          FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
          FOREIGN KEY (ProductID) REFERENCES Products(ProductID),
          FOREIGN KEY (SalesPersonID) REFERENCES Salespersons(SalesPersonID),
          FOREIGN KEY (RegionID) REFERENCES Regions(RegionID),
          FOREIGN KEY (PaymentMethodID) REFERENCES PaymentMethods(PaymentMethodID)
    )
''')



# Commit changes and close connection
conn.commit()
conn.close()

print("Data warehouse schema for Amazon sales created successfully!")

Data warehouse schema for Amazon sales created successfully!

In [89]:
import pandas as pd
import sqlite3
from tabulate import tabulate

# Read data from CSV file
df = pd.read_csv('amazonsales.csv')

# Connect to SQLite database
conn = sqlite3.connect('amazon_sales_dw.db')
c = conn.cursor()

# Insert data into Customers table
df_customers = df[['CustomerID', 'CustomerName', 'CustomerAge', 'CustomerGender', 'CustomerAddress', 'CustomerEmail']].copy()
df_customers.to_sql('Customers', conn, if_exists='replace', index=False)

# Insert data into Products table
df_products = df[['ProductID', 'ProductName', 'Category', 'Price']].copy()
df_products.to_sql('Products', conn, if_exists='replace', index=False)

# Insert data into Salespersons table
df_Salespersons = df[['SalesPersonID', 'SalesPersonName']].copy()
df_Salespersons.to_sql('Salespersons', conn, if_exists='replace', index=False)

# Insert data into Regions table
df_regions = df[['RegionID', 'SalesRegion']].copy()
df_regions.drop_duplicates(inplace=True)
df_regions.to_sql('Regions', conn, if_exists='replace', index=False)

# Insert data into PaymentMethods table
df_payment_methods = df[['PaymentMethodID', 'PaymentMethod']].copy()
df_payment_methods.drop_duplicates(inplace=True)
df_payment_methods.to_sql('PaymentMethods', conn, if_exists='replace', index=False)

# Insert data into Ratings table
df_ratings = df[['RatingID', 'Rating']].copy()
df_ratings.drop_duplicates(inplace=True)
df_ratings.to_sql('Ratings', conn, if_exists='replace', index=False)

# Insert data into Transactions table
df_transactions = df[['TransactionID', 'CustomerID', 'ProductID', 'Price', 'Quantity', 'PurchaseDate', 'PaymentMethodID', 'RatingID']].copy()
df_transactions.to_sql('Transactions', conn, if_exists='replace', index=False)

# Insert data into Inventory table
df_inventory = df[['ProductID', 'Quantity']].copy()
df_inventory.to_sql('Inventory', conn, if_exists='replace', index=False)

# Insert data into Returns table
df_returns = df[['TransactionID', 'PurchaseDate', 'ReturnDate']].copy()
df_returns.to_sql('Returns', conn, if_exists='replace', index=False)

# Insert data into Discounts table
df_discounts = df[['TransactionID', 'DiscountAmount']].copy()
df_discounts.to_sql('Discounts', conn, if_exists='replace', index=False)

# Insert data into Promotions table
df_promotions = df[['TransactionID', 'PromotionID']].copy()
df_promotions.to_sql('Promotions', conn, if_exists='replace', index=False)

# Insert data into Shipping table
df_shipping = df[['TransactionID', 'ShippingMethod', 'ShippingCost']].copy()
df_shipping.to_sql('Shipping', conn, if_exists='replace', index=False)

10000

In [90]:
# Display data from the Customers table with specific formatting
result_customers = pd.read_sql_query('SELECT * FROM Customers LIMIT 5', conn)
print("\nCustomers Dimension Table:\n")
print(tabulate(result_customers, headers='keys', tablefmt='pretty'))

# Display data from the Products table with specific formatting
result_products = pd.read_sql_query('SELECT * FROM Products LIMIT 5', conn)
print("\nProducts Dimension Table:\n")
print(tabulate(result_products, headers='keys', tablefmt='pretty'))

# Fetch data from the Salespersons table
result_salespersons = pd.read_sql_query('SELECT * FROM Salespersons LIMIT 5', conn)
# Display Salespersons Dimension Table with specific formatting
print("\nSalespersons Dimension Table:\n")
print(tabulate(result_salespersons, headers='keys', tablefmt='pretty'))

# Display data from the Regions table with specific formatting
result_regions = pd.read_sql_query('SELECT * FROM Regions LIMIT 5', conn)
print("\nRegions Dimension Table:\n")
print(tabulate(result_regions, headers='keys', tablefmt='pretty'))

# Display data from the PaymentMethods table with specific formatting
result_payment_methods = pd.read_sql_query('SELECT * FROM PaymentMethods LIMIT 5', conn)
print("\nPaymentMethods Dimension Table:\n")
print(tabulate(result_payment_methods, headers='keys', tablefmt='pretty'))

# Display data from the Ratings table with specific formatting
result_ratings = pd.read_sql_query('SELECT * FROM Ratings LIMIT 5', conn)
print("\nRatings Dimension Table:\n")
print(tabulate(result_ratings, headers='keys', tablefmt='pretty'))

# Display data from the Transactions table with specific formatting
result_transactions = pd.read_sql_query('SELECT * FROM Transactions LIMIT 5', conn)
print("\nTransactions Dimension Table:\n")
print(tabulate(result_transactions, headers='keys', tablefmt='pretty'))

# Display data from the Inventory table with specific formatting
result_inventory = pd.read_sql_query('SELECT * FROM Inventory LIMIT 5', conn)
print("\nInventory Dimension Table:\n")
print(tabulate(result_inventory, headers='keys', tablefmt='pretty'))

# Display data from the Returns table with specific formatting
result_returns = pd.read_sql_query('SELECT * FROM Returns LIMIT 5', conn)
print("\nReturns Dimension Table:\n")
print(tabulate(result_returns, headers='keys', tablefmt='pretty'))

# Display data from the Discounts table with specific formatting
result_discounts = pd.read_sql_query('SELECT * FROM Discounts LIMIT 5', conn)
print("\nDiscounts Dimension Table:\n")
print(tabulate(result_discounts, headers='keys', tablefmt='pretty'))

# Display data from the Promotions table with specific formatting
result_promotions = pd.read_sql_query('SELECT * FROM Promotions LIMIT 5', conn)
print("\nPromotions Dimension Table:\n")
print(tabulate(result_promotions, headers='keys', tablefmt='pretty'))

# Display data from the Shipping table with specific formatting
result_shipping = pd.read_sql_query('SELECT * FROM Shipping LIMIT 5', conn)
print("\nShipping Dimension Table:\n")
print(tabulate(result_shipping, headers='keys', tablefmt='pretty'))


# Close connection
conn.close()

print("Data inserted into all dimension and fact tables successfully!")

Customers Dimension Table:

+---+------------+---------------+-------------+----------------+-----------------+--------------------------+
|   | CustomerID | CustomerName  | CustomerAge | CustomerGender | CustomerAddress |      CustomerEmail       |
+---+------------+---------------+-------------+----------------+-----------------+--------------------------+
| 0 |    1001    | Customer_1001 |     29      |      Male      |  Address_1001   | customer1001@example.com |
| 1 |    1002    | Customer_1002 |     55      |     Female     |  Address_1002   | customer1002@example.com |
| 2 |    1003    | Customer_1003 |     42      |      Male      |  Address_1003   | customer1003@example.com |
| 3 |    1004    | Customer_1004 |     26      |     Female     |  Address_1004   | customer1004@example.com |
| 4 |    1005    | Customer_1005 |     31      |      Male      |  Address_1005   | customer1005@example.com |
+---+------------+---------------+-------------+----------------+-----------------+--------------------------+

Products Dimension Table:

+---+-----------+-------------+----------------+-------+
|   | ProductID | ProductName |    Category    | Price |
+---+-----------+-------------+----------------+-------+
| 0 |   3001    |  Product_1  |  Electronics   |  223  |
| 1 |   3002    |  Product_2  |    Clothing    |  383  |
| 2 |   3003    |  Product_3  |     Books      |  390  |
| 3 |   3004    |  Product_4  | Home & Kitchen |  264  |
| 4 |   3005    |  Product_5  |     Sports     |  466  |
+---+-----------+-------------+----------------+-------+

Salespersons Dimension Table:

+---+---------------+-----------------+
|   | SalesPersonID | SalesPersonName |
+---+---------------+-----------------+
| 0 |       2       |    Person_1     |
| 1 |       4       |    Person_2     |
| 2 |       9       |    Person_3     |
| 3 |       7       |    Person_4     |
| 4 |       1       |    Person_5     |
+---+---------------+-----------------+

Regions Dimension Table:

+---+----------+--------------+
|   | RegionID | SalesRegion  |
+---+----------+--------------+
| 0 |    2     |  South Asia  |
| 1 |    3     | Middle East  |
| 2 |    2     |    Europe    |
| 3 |    3     | Central Asia |
| 4 |    4     |  South Asia  |
+---+----------+--------------+

PaymentMethods Dimension Table:

+---+-----------------+------------------+
|   | PaymentMethodID |  PaymentMethod   |
+---+-----------------+------------------+
| 0 |        4        |   Credit Card    |
| 1 |        1        |    Debit Card    |
| 2 |        4        |   Net Banking    |
| 3 |        2        | Cash on Delivery |
| 4 |        1        |   Credit Card    |
+---+-----------------+------------------+

Ratings Dimension Table:

+---+----------+--------+
|   | RatingID | Rating |
+---+----------+--------+
| 0 |    1     |   4    |
| 1 |    2     |   5    |
| 2 |    5     |   5    |
| 3 |    3     |   3    |
| 4 |    2     |   4    |
+---+----------+--------+

Transactions Dimension Table:

+---+---------------+------------+-----------+-------+----------+--------------+-----------------+----------+
|   | TransactionID | CustomerID | ProductID | Price | Quantity | PurchaseDate | PaymentMethodID | RatingID |
+---+---------------+------------+-----------+-------+----------+--------------+-----------------+----------+
| 0 |       1       |    1001    |   3001    |  223  |    3     |  2021-01-01  |        4        |    1     |
| 1 |       2       |    1002    |   3002    |  383  |    1     |  2021-01-02  |        1        |    2     |
| 2 |       3       |    1003    |   3003    |  390  |    2     |  2021-01-03  |        4        |    2     |
| 3 |       4       |    1004    |   3004    |  264  |    3     |  2021-01-04  |        2        |    5     |
| 4 |       5       |    1005    |   3005    |  466  |    5     |  2021-01-05  |        1        |    3     |
+---+---------------+------------+-----------+-------+----------+--------------+-----------------+----------+

Inventory Dimension Table:

+---+-----------+----------+
|   | ProductID | Quantity |
+---+-----------+----------+
| 0 |   3001    |    3     |
| 1 |   3002    |    1     |
| 2 |   3003    |    2     |
| 3 |   3004    |    3     |
| 4 |   3005    |    5     |
+---+-----------+----------+

Returns Dimension Table:

+---+---------------+--------------+----------------------------+
|   | TransactionID | PurchaseDate |         ReturnDate         |
+---+---------------+--------------+----------------------------+
| 0 |       1       |  2021-01-01  | 2024-05-20 09:15:37.536762 |
| 1 |       2       |  2021-01-02  | 2024-05-23 09:15:37.536784 |
| 2 |       3       |  2021-01-03  | 2024-05-30 09:15:37.536786 |
| 3 |       4       |  2021-01-04  | 2024-05-17 09:15:37.536788 |
| 4 |       5       |  2021-01-05  | 2024-05-21 09:15:37.536790 |
+---+---------------+--------------+----------------------------+

Discounts Dimension Table:

+---+---------------+----------------+
|   | TransactionID | DiscountAmount |
+---+---------------+----------------+
| 0 |       1       |       21       |
| 1 |       2       |       21       |
| 2 |       3       |       15       |
| 3 |       4       |       4        |
| 4 |       5       |       34       |
+---+---------------+----------------+

Promotions Dimension Table:

+---+---------------+-------------+
|   | TransactionID | PromotionID |
+---+---------------+-------------+
| 0 |       1       |      2      |
| 1 |       2       |      9      |
| 2 |       3       |      9      |
| 3 |       4       |      6      |
| 4 |       5       |      2      |
+---+---------------+-------------+

Shipping Dimension Table:

+---+---------------+-------------------+--------------+
|   | TransactionID |  ShippingMethod   | ShippingCost |
+---+---------------+-------------------+--------------+
| 0 |       1       | Standard Shipping |     5.99     |
| 1 |       2       | Express Shipping  |     9.99     |
| 2 |       3       | Next Day Delivery |    12.99     |
| 3 |       4       |   Store Pickup    |     0.0      |
| 4 |       5       | Standard Shipping |     5.99     |
+---+---------------+-------------------+--------------+
Data inserted into all dimension and fact tables successfully!

In [100]:
# Read data from CSV file
df = pd.read_csv('amazonsales.csv')

# Connect to SQLite database
conn = sqlite3.connect('amazon_sales_dw.db')
c = conn.cursor()

# Insert data into CarSales fact table
df_amazon_sales = df[[
    'TransactionID', 'CustomerID', 'ProductID', 'SalesPersonID', 'RegionID', 'PaymentMethodID', 'PaymentMethod',
    'Quantity'
]]
df_amazon_sales.to_sql('facttable', conn, if_exists='replace', index=False)


# Display data from the CarSales fact table with specific formatting
result_amazon_sales = pd.read_sql_query('SELECT * FROM facttable LIMIT 5', conn)
print("\nAmazon Sales Fact Table:\n")
print(tabulate(result_amazon_sales, headers='keys', tablefmt='pretty'))


# Close connection
conn.close()

Amazon Sales Fact Table:

+---+---------------+------------+-----------+---------------+----------+-----------------+------------------+----------+
|   | TransactionID | CustomerID | ProductID | SalesPersonID | RegionID | PaymentMethodID |  PaymentMethod   | Quantity |
+---+---------------+------------+-----------+---------------+----------+-----------------+------------------+----------+
| 0 |       1       |    1001    |   3001    |      10       |    1     |        1        |   Credit Card    |    5     |
| 1 |       2       |    1002    |   3002    |       2       |    5     |        4        |    Debit Card    |    4     |
| 2 |       3       |    1003    |   3003    |       2       |    1     |        1        |   Net Banking    |    5     |
| 3 |       4       |    1004    |   3004    |       3       |    3     |        3        | Cash on Delivery |    3     |
| 4 |       5       |    1005    |   3005    |       1       |    5     |        1        |   Credit Card    |    4     |
+---+---------------+------------+-----------+---------------+----------+-----------------+------------------+----------+